<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=WATCHARAPONG-20;
         Initial Catalog=ProductCalulation;
         User Id=sa;
         Password=1234;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
